@media screen and (max-width: 950px) {}

body {
    opacity: 0;
    color: $m_Dgrey;
}
h2 {
    text-align: center;
    font-size: 24px;
    color: $m_Dgrey;
    padding-top: 50px;
    margin-bottom: 5px;
    
}
p.underH2 {
    text-align: center;
    font-size: 18px;
    color: $m_grey;
    
}

a:hover {
    color: $m_red;
}
a:active, a:focus {
    
    outline: none;
}

.header {
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    .wr {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo_wr {
            max-width: 145px;
            img {
                width: 100%;
                height: auto;
            }
        }

        .right_coll {
            display: flex;
            align-items: center;
            .contacts_header {
                margin-right: 2vw;
                i {
                    display: none;
                    font-size: 30px;
                    color: $m_red;
                    transition: 0.5s;

                }
                &:hover i {
                    color: #fff;
                }
                @media screen and (max-width: 530px) {
                    & {
                        position: relative;
                    }
                    & i {
                        display: block;
                        position: relative;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 5px;
                        right: 5px;
                        top: 5px;
                        bottom: 5px;
                        border-radius: 50%;
                        background-color: $m_red;
                        z-index: 1;
                        transition: 0.5s;
                        opacity: 0;
                        transition-timing-function: cubic-bezier(.33, 1.83, .76, 1.47);
                    }
                    &:hover:after {
                        opacity: 1;
                        left: -8px;
                        right: -8px;
                        top: -8px;
                        bottom: -8px;
                    }
                    &:hover i {
                        color: #fff;
                        z-index: 2;
                    }

                    & span {
                        display: none;
                    }
                }
            }
            .user_header {
                margin-right: 2vw;
            }
            .pay_header {
                margin-right: 2vw;
            }
            .user_header,
            .pay_header {
                width: 30px;
                height: 30px;
                position: relative;
                transition: 0.3s;
            }
            .user_header:after,
            .pay_header:after {
                content: '';
                display: block;
                position: absolute;
                left: 5px;
                right: 5px;
                top: 5px;
                bottom: 5px;
                border-radius: 50%;
                background-color: $m_red;
                z-index: 1;
                transition: 0.5s;
                opacity: 0;
                transition-timing-function: cubic-bezier(.33, 1.83, .76, 1.47);
            }
            .user_header:hover:after,
            .pay_header:hover:after {
                opacity: 1;
                left: -8px;
                right: -8px;
                top: -8px;
                bottom: -8px;
            }
            .user_header:before,
            .pay_header:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 2;
                transition: 0.3s;
            }
            .user_header:before {
                background-image: url(../img/icons/imguser.png);
            }
            .pay_header:before {
                background-image: url(../img/icons/wallogs.png);
            }
            .user_header:hover:before {
                background-image: url(../img/icons/imguser_hover.png);
            }
            .pay_header:hover:before {
                background-image: url(../img/icons/wallogs_hover.png);
            }


            .burger {

                padding: 10px 0px 10px 2vw;
                border-left: 1px solid #000;
                .hamburger-inner::after {
                    transition: 0.5s;
                }
                &.is-active .hamburger-inner:after,
                &.is-active .hamburger-inner:before {
                    background-color: $m_red !important;
                }
                &:hover .hamburger-inner::after {
                    background-color: $m_red !important;
                }

            }

        }

    }
}

@media screen and (max-width: 678px) {
    .header {
        .wr {
            .head_phone {
                padding-right: 2vw;
                .tel {
                    display: none;
                }
            }
            .head_phone i {
                font-size: 36px;
            }
            .right_coll {
                .contacts_header {}
                .user_header {}
                .pay_header {}
                .user_header,
                .pay_header {}
                .user_header:after,
                .pay_header:after {}
                .burger {
                    .hamburger-inner::after {}
                }
            }
        }
    }
}

@keyframes banerLoadFunction {
    0% {width: 0%;}
    100% {width: 100%;}
}

.banner_index {
   pointer-events: none;
    //    min-height: calc(100vh - 61px);
    //    min-height: 100vh;
    .banner_slider {
        width: 100%;
        height: 100%;
        .banner_slider_item {
            width: 100%;
            max-height: calc(100vh - 71px);
            height: 75vmin;
            min-height: 230px;
            background-image: url(../img/baner1.png);
            background-position: left center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            @media screen and (max-width: 1140px){
                //background-position: center;
            }
            .wr {
                position: relative;
                width: 100%;
                height: 100%;

                .info {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.31);
                    @media screen and (max-width: 840px) {
                        left: 0;
                    }
                   
                    
                    .info_inner {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        text-align: right;
                        color: #fff;
                         padding-right: 10px;
                        .descr {
                            font-size: 42px;
                            @media screen and (max-width: 430px) {
                                display: none;
                            }
                        }
                        .under_descr {
                            font-size: 24px;
                            
                        }
                        .read_more {
                            pointer-events: auto;
                            font-size: 18px;
                            color: #fff;
                            border: 1px solid #fff;
                            border-radius: 3px;
                            padding: 10px 30px;
                            display: inline-block;
                            margin-top: 20px;
                            position: relative;
                            overflow: hidden;
                            transition: 0.5s;
                            span {
                                position: relative;
                                z-index: 2;
                            }
                            &:after {
                                content: "";
                                display: block;
                                background-color: transparentize($m_red, 0.5);
                                left: 10px;
                                top: 10px;
                                bottom: 10px;
                                right: 10px;
                                position: absolute;
                                z-index: 1;
                                border-radius: 50%;
                                opacity: 0;
                                transition: 0.5s;
                            }
                            &:hover:after {
                                opacity: 1;
                                border-radius: 0;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                right: 0;
                            }
                            
                            &:hover {
                                border: 1px solid transparent;
                            }
                            
                        }
                    }

                }
                &:after {
                    content: "";
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 100%;
                    width: 1500px;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.31);
                }
            }
        }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .slick-dots {
        bottom: 30px;
         pointer-events: none;
    }
    .slick-dots li{
        margin: 0 12px;
        width: 70px;
        height: 4px;
    }
    .slick-dots li button {
        width: 100%;
        height: 8px;
        //border: 1px solid #000;
        padding: 0;
        &:before{
            background-color: #000;
            width: 100%;
            max-height: 2px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0%;
            min-height: 2px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            background-color: $m_red;
            transition: 0s;
        }
    }
    .slick-dots li.slick-active button:after {
//        width: 100%;
        animation: banerLoadFunction 5s ease-in-out;
        //transition: 5s;
    }
    
    .slick-dots li button:before {
        opacity: 1;
    }
  
}

.types_of_insurance{
    .wr {
        .cont_in {
            width: 100%;
            display: flex;
            padding-bottom: 50px;
           flex-wrap: wrap;
            .item {
                flex-grow: 1;
                border-top: 1px solid $m_grey;
                border-bottom: 1px solid $m_grey;
                border-left: 1px solid $m_grey;
//                border-right: 1px solid transparent;
                flex-basis: 25%;
                
                position: relative;
                transition: 0.3s;
                position: relative;
                z-index: 1;
                margin: 50px 0;
                display: block;
                
                &:first-child {
                    transform-origin: 0 center;
                }
                &:last-child {
                    transform-origin: 100% center;
                }
                &:hover {
                    transform: scale(1.1);
                    z-index: 2;
                    border: 1px solid $m_red !important;
                    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
                    margin-bottom: 15px;
                }
                &:hover .item_bottom {
                    
                }
                @media screen and (max-width: 860px) {
                    flex-basis: calc(50% - 20px);
                    margin: 0px 10px;
                    border: 1px solid $m_grey;
                    margin-bottom: 20px;
                    &:hover {
                        transform: scale(1);
                        margin-bottom: 20px;
                        padding: 0;
                        padding-top: 3px;
                    }
                }
                
                &:last-child {
                    border-right: 1px solid $m_grey;
                }
                &:before, &:after {}
                &_image {
                    height: 345px;
                    min-height: 235px;
                    //border-bottom: 1px solid $m_grey;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @media screen and (max-width: 1024px) {
                       height: 43.5vmin;
                        
                    }
                }
                &_bottom {
                    text-align: center;
                    font-size: 18px;
                    min-height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 15px 0 0px;
                    background-color: #fff;
                    pointer-events: none;
                    @media screen and (max-width: 860px) {
                        pointer-events: auto;
                    }
                    .name {
                        color: $m_grey;
                        
                    }
                    .more {
                        //display: none;
                        pointer-events: auto;
                        overflow: hidden;
                        transition: 0.3s;
                        opacity: 0;
                        height: 0;
                        line-height: 0;
                        background-color: $m_red;
                        color: #fff;
                        padding: 0px;
                        display: block;
                        width: 80%;
                        margin-top: 10px;
                        transform: scale(0);
                        border: 1px solid transparent;
                        cursor: pointer;
                        &:hover {
                            background-color: #fff;
                            color: $m_red;
                            border: 1px solid $m_red;
                        }
                        
                        
                    }
                }
                &:nth-child(1) .item_image {
                    background-image: url(../img/toi1.jpg);
                }
                &:nth-child(2) .item_image {
                    background-image: url(../img/toi2.jpg);
                    background-position:  calc(50% + 50px) center;
                }
                &:nth-child(3) .item_image {
                    background-image: url(../img/toi3.jpg);
                }
                &:nth-child(4) .item_image {
                    background-image: url(../img/toi4.jpg);
                    background-position:  calc(50% - 70px) center;
                     @media screen and (max-width: 1024px) {
                        background-position:  calc(50% - 55px) center; 
                    }
                }
                &:hover .item_bottom .more {
                    display: block;
                    
                    opacity: 1;
                    padding: 20px;
                    transition: 0.3s;
                    transform: scale(1);
                    @media screen and (max-width: 860px) {
                            display: none !important;
                            padding: 0px !important;
                             transform: scale(0) !important;
                        }
                    
                }
            }
        }
    }
}














