@media screen and (max-width: 950px) {}

body {
    opacity: 0;
    color: $m_Dgrey;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: $m_Dgrey;
    padding-top: 50px;
    margin-bottom: 5px;
    @media screen and (max-width: 420px) {
        font-size: 22px;
        margin-bottom: 20px;
    }
    @media screen and (max-width: 460px) {
        font-size: 20px;
    }

}
h3 {
    font-size: 18px;
    text-align: center;
}

p.underH2 {
    text-align: center;
    font-size: 18px;
    color: $m_grey;

}

a:hover {
    color: $m_red;
}

a:active,
a:focus {

    outline: none;
}

.header {
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(0px);
    opacity: 1;
    transition: opacity 0.5s;
    &.header_hidden {
        opacity: 0;
        transform: translateY(-100px);
        transition: 1s;
    }
    .wr {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo_wr {
            max-width: 145px;
            img {
                width: 100%;
                height: auto;
            }
        }

        .right_coll {
            display: flex;
            align-items: center;
            .contacts_header {
                margin-right: 2vw;
                i {
                    display: none;
                    font-size: 30px;
                    color: $m_red;
                    transition: 0.5s;

                }
                &:hover i {
                    color: #fff;
                }
                @media screen and (max-width: 530px) {
                    & {
                        position: relative;
                    }
                    & i {
                        display: block;
                        position: relative;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 5px;
                        right: 5px;
                        top: 5px;
                        bottom: 5px;
                        border-radius: 50%;
                        background-color: $m_red;
                        z-index: 1;
                        transition: 0.5s;
                        opacity: 0;
                        transition-timing-function: cubic-bezier(.33, 1.83, .76, 1.47);
                    }
                    &:hover:after {
                        opacity: 1;
                        left: -8px;
                        right: -8px;
                        top: -8px;
                        bottom: -8px;
                    }
                    &:hover i {
                        color: #fff;
                        z-index: 2;
                    }

                    & span {
                        display: none;
                    }
                }
            }
            .user_header {
                margin-right: 2vw;
            }
            .pay_header {
                margin-right: 2vw;
            }
            .user_header,
            .pay_header {
                width: 30px;
                height: 30px;
                position: relative;
                transition: 0.3s;
            }
            .user_header:after,
            .pay_header:after {
                content: '';
                display: block;
                position: absolute;
                left: 5px;
                right: 5px;
                top: 5px;
                bottom: 5px;
                border-radius: 50%;
                background-color: $m_red;
                z-index: 1;
                transition: 0.5s;
                opacity: 0;
                transition-timing-function: cubic-bezier(.33, 1.83, .76, 1.47);
            }
            .user_header:hover:after,
            .pay_header:hover:after {
                opacity: 1;
                left: -8px;
                right: -8px;
                top: -8px;
                bottom: -8px;
            }
            .user_header:before,
            .pay_header:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 2;
                transition: 0.3s;
            }
            .user_header:before {
                background-image: url(../img/icons/imguser.png);
            }
            .pay_header:before {
                background-image: url(../img/icons/wallogs.png);
            }
            .user_header:hover:before {
                background-image: url(../img/icons/imguser_hover.png);
            }
            .pay_header:hover:before {
                background-image: url(../img/icons/wallogs_hover.png);
            }


            .burger {

                padding: 10px 0px 10px 2vw;
                border-left: 1px solid #000;
                .hamburger-inner::after {
                    transition: 0.5s;
                }
                &.is-active .hamburger-inner:after,
                &.is-active .hamburger-inner:before {
                    background-color: $m_red !important;
                }
                &:hover .hamburger-inner::after {
                    background-color: $m_red !important;
                }

            }

        }

    }
}

@media screen and (max-width: 678px) {
    .header {
        .wr {
            .head_phone {
                padding-right: 2vw;
                .tel {
                    display: none;
                }
            }
            .head_phone i {
                font-size: 36px;
            }
            .right_coll {
                .contacts_header {}
                .user_header {}
                .pay_header {}
                .user_header,
                .pay_header {}
                .user_header:after,
                .pay_header:after {}
                .burger {
                    .hamburger-inner::after {}
                }
            }
        }
    }
}

@keyframes banerLoadFunction {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.banner_index {
    pointer-events: none; //    min-height: calc(100vh - 61px);
    //    min-height: 100vh;
    .banner_slider {
        width: 100%;
        height: 100%;
        .banner_slider_item {
            width: 100%;
            max-height: calc(100vh - 71px);
            height: 75vmin;
            min-height: 230px;
            background-image: url(../img/baner1.png);
            background-position: left center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            @media screen and (max-width: 1140px) {
                //background-position: center;
            }
            .wr {
                position: relative;
                width: 100%;
                height: 100%;

                .info {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.31);
                    @media screen and (max-width: 840px) {
                        left: 0;
                    }


                    .info_inner {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        text-align: right;
                        color: #fff;
                        padding-right: 10px;
                        .descr {
                            font-size: 42px;
                            @media screen and (max-width: 500px) {
                                display: none;
                            }
                        }
                        .under_descr {
                            font-size: 24px;

                        }
                        .read_more {
                            pointer-events: auto;
                            font-size: 18px;
                            color: #fff;
                            border: 1px solid #fff;
                            border-radius: 3px;
                            padding: 10px 30px;
                            display: inline-block;
                            margin-top: 20px;
                            position: relative;
                            overflow: hidden;
                            transition: 0.5s;
                            span {
                                position: relative;
                                z-index: 2;
                            }
                            &:after {
                                content: "";
                                display: block;
                                background-color: transparentize($m_red, 0.5);
                                left: 10px;
                                top: 10px;
                                bottom: 10px;
                                right: 10px;
                                position: absolute;
                                z-index: 1;
                                border-radius: 50%;
                                opacity: 0;
                                transition: 0.5s;
                            }
                            &:hover:after {
                                opacity: 1;
                                border-radius: 0;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                right: 0;
                            }

                            &:hover {
                                border: 1px solid transparent;
                            }

                        }
                    }

                }
                &:after {
                    content: "";
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 100%;
                    width: 1500px;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.31);
                }
            }
        }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .slick-dots {
        bottom: 30px;
        pointer-events: none;
    }
    .slick-dots li {
        margin: 0 12px;
        width: 70px;
        height: 4px;
    }
    .slick-dots li button {
        width: 100%;
        height: 8px; //border: 1px solid #000;
        padding: 0;
        &:before {
            background-color: #000;
            width: 100%;
            max-height: 2px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0%;
            min-height: 2px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            background-color: $m_red;
            transition: 0s;
        }
    }
    .slick-dots li.slick-active button:after {
        //        width: 100%;
        animation: banerLoadFunction 5s ease-in-out; //transition: 5s;
    }

    .slick-dots li button:before {
        opacity: 1;
    }

}

.types_of_insurance {
    .wr {

        .underH2 {
            @media screen and (max-width: 420px) {
                display: none;
            }
        }
        .cont_in {
            width: 100%;
            display: flex;
            padding-bottom: 20px;
            flex-wrap: wrap;
            .item {
                flex-grow: 1;
                border-top: 1px solid $m_grey;
                border-bottom: 1px solid $m_grey;
                border-left: 1px solid $m_grey; //                border-right: 1px solid transparent;
                flex-basis: 25%;

                position: relative;
                transition: 0.3s;
                position: relative;
                z-index: 1;
                margin: 50px 0;
                display: block;

                &:first-child {
                    transform-origin: 0 center;
                }
                &:last-child {
                    transform-origin: 100% center;
                }
                &:hover {
                    transform: scale(1.1);
                    z-index: 2;
                    border: 1px solid $m_red !important;
                    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
                    margin-bottom: 15px;
                }
                &:hover .item_bottom {}
                @media screen and (max-width: 900px) {
                    flex-basis: calc(50% - 20px);
                    margin: 0px 10px;
                    border: 1px solid $m_grey;
                    margin-bottom: 20px;
                    &:hover {
                        transform: scale(1);
                        margin-bottom: 20px;
                        padding: 0; //padding-top: 3px;
                    }
                }

                &:last-child {
                    border-right: 1px solid $m_grey;
                }
                &:before,
                &:after {}
                &_image {
                    height: 345px;
                    min-height: 235px; //border-bottom: 1px solid $m_grey;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @media screen and (max-width: 1024px) {
                        //height: 43.5vmin;
                        height: 33vmax;
                        background-position: center !important;

                    }
                    @media screen and (max-width: 510px) {
                        height: 25vmax;
                        min-height: 140px;

                    }
                }
                &_bottom {
                    text-align: center;
                    font-size: 18px;
                    min-height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 15px 0 0px;
                    background-color: #fff;
                    pointer-events: none;
                    @media screen and (max-width: 900px) {
                        pointer-events: auto;
                        padding: 0;
                        min-height: 45px;
                    }

                    .name {
                        color: $m_grey;
                        @media screen and (max-width: 420px) {
                            font-size: 16px;
                        }


                    }
                    .more {
                        //display: none;
                        pointer-events: auto;
                        overflow: hidden;
                        transition: 0.3s;
                        opacity: 0;
                        height: 0;
                        line-height: 0;
                        background-color: $m_red;
                        color: #fff;
                        padding: 0px;
                        display: block;
                        width: 80%;
                        margin-top: 10px;
                        transform: scale(0);
                        border: 1px solid transparent;
                        cursor: pointer;
                        @media screen and (max-width: 900px) {
                            display: none !important;
                            padding: 0px !important;
                            transform: scale(0) !important;
                        }
                        &:hover {
                            background-color: #fff;
                            color: $m_red;
                            border: 1px solid $m_red;
                        }


                    }
                }
                &:nth-child(1) .item_image {
                    background-image: url(../img/toi1.jpg);
                }
                &:nth-child(2) .item_image {
                    background-image: url(../img/toi2.jpg);
                    background-position: calc(50% + 50px) center;
                }
                &:nth-child(3) .item_image {
                    background-image: url(../img/toi3.jpg);
                }
                &:nth-child(4) .item_image {
                    background-image: url(../img/toi4.jpg);
                    background-position: calc(50% - 70px) center;
                    @media screen and (max-width: 1024px) {
                        background-position: calc(50% - 55px) center;
                    }
                }
                &:hover .item_bottom .more {
                    display: block;

                    opacity: 1;
                    padding: 20px;
                    transition: 0.3s;
                    transform: scale(1);
                    @media screen and (max-width: 900px) {
                        display: none !important;
                        padding: 0px !important;
                        transform: scale(0) !important;
                    }

                }
            }
        }
    }
}

.finan_stab {
    @media screen and (max-width: 420px) {
        display: none;
    }
    .wr {
        @media screen and (max-width: 1024px) {
            //max-width: 980px;
        }
    }
    .cont_wraper {
        width: 100%;
        background-color: $m_grey2;
        padding: 30px 0;
    }
    h2 {
        padding-top: 0;
    }
    .flex_cont {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 965px) {
            flex-wrap: wrap;


        }
        .flex_item {
            padding: 0 5px;
            text-align: center;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 965px) {
                flex-basis: 33%;
                flex-grow: 1 !important;
                align-self: center!important;
                justify-content: center !important;
            }
            .image {
                width: 100%;
                min-height: 90px;
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: contain;
                @media screen and (max-width: 965px) {
                    background-size: contain !important;
                }
            }
            .name {
                font-size: 20px;
                font-weight: bold;
                color: $m_black;

            }
            .under_name {
                font-size: 18px;
                color: $m_grey;
                font-weight: bold;

            }
            &:first-child {
                flex-grow: 2;
                .image {
                    background-image: url(../img/icons/01.png);
                    width: 180px;
                    height: 180px;
                }
                .name {
                    font-size: 14px;
                    span {
                        padding: 0 20px;
                    }

                }
                .under_name {
                    font-size: 30px;
                    font-weight: 500;
                    line-height: 32px;
                    @media screen and (max-width: 965px) {
                        font-size: 18px !important;
                        line-height: inherit;
                    }
                }
            }
            &:nth-child(2) {
                align-self: flex-start;
                .image {
                    background-image: url(../img/icons/02.png);
                    background-size: 45%;
                }
            }
            &:nth-child(3) {
                align-self: flex-end;
                .image {
                    background-image: url(../img/icons/06.png);
                }
            }
            &:nth-child(4) {
                align-self: flex-start;
                .image {
                    background-image: url(../img/icons/03.png);
                }
            }
            &:nth-child(5) {
                align-self: flex-end;
                .image {
                    background-image: url(../img/icons/05.png);
                }
            }
            &:last-child {
                .image {
                    background-image: url(../img/icons/04.png);
                    width: 180px;
                    height: 180px;
                }
                .name {
                    font-size: 24px;
                    margin-top: 15px;

                }
                .under_name {
                    font-size: 30px;
                    line-height: 32px;
                    font-weight: 500;
                    @media screen and (max-width: 965px) {
                        font-size: 18px !important;
                        line-height: inherit;
                    }
                }
            }
        }
    }
}

.index_news {
    padding: 0 1% 50px;
    .slider_container {
        padding-top: 20px;
        position: relative;
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 30%;
            top: 0;
            bottom: 0;
            z-index: 1;
            transition: 0.5s;
        }
        &::before {
            left: 0;
            background-image: linear-gradient(to right, #fff, transparent);
        }
        &:after {
            background-image: linear-gradient(to left, #fff, transparent);
            right: 0;
        }
        &:hover:before,
        &:hover:after {
            width: 15%;
        }

        .item {
            margin: 0 15px;
            .name {
                color: $m_black;
                font-size: 23px;
                margin-bottom: 30px;
                transition: 0.5s;
            }
            .descr {
                font-size: 18px;
                padding-right: 15px;
                color: $m_grey;
                transition: 0.5s;

            }
            .date {
                color: $m_black;
                margin-top: 10px;
            }
            .more_info {
                margin-top: 20px;
                display: inline-block;
                width: 200px;
                text-align: center;
                padding: 8px;
                border-radius: 3px;
                color: #fff;
                background-color: $m_red;
                border: 1px solid transparent;
                opacity: 0;
                &:hover {
                    color: $m_red;
                    background-color: #fff;
                    border: 1px solid $m_red;
                }
            }
            &:hover .more_info {
                opacity: 1;
            }
            &:hover .name {
                color: $m_red;
            }
            &:hover .descr {
                color: $m_black;
            }
        }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .slick-dots {
        bottom: -40px;


    }
    .slick-dots li {
        margin: 0 12px;
        width: 70px;
        height: 4px;
    }
    .slick-dots li button {
        width: 100%;
        height: 8px; //border: 1px solid #000;
        padding: 0;
        &:before {
            background-color: $m_grey;
            width: 100%;
            max-height: 2px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0%;
            min-height: 2px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            background-color: $m_red;
            transition: 0s;
        }
    }
    .slick-dots li.slick-active button:after {
        //        width: 100%;
        animation: banerLoadFunction 5s ease-in-out; //transition: 5s;
    }

    .slick-dots li button:before {
        opacity: 1;
    }
    .slick-prev,
    .slick-next {
        width: 40px;
        height: 40px;
        background-color: transparent;
        z-index: 2;
        &:before {
            content: "";
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            border-left: 2px solid transparentize($m_red, 0.7);
            border-bottom: 2px solid transparentize($m_red, 0.7);
            transform: translateX(30%) rotate(45deg);
            transition: 0.5s;
        }
        &:hover:before {
            border-left: 2px solid $m_red;
            border-bottom: 2px solid $m_red;
        }
    }
    .slick-next {
        &:before {
            border-left: 2px solid transparent;
            border-bottom: 2px solid transparentize($m_red, 0.7);
            border-right: 2px solid transparentize($m_red, 0.7);
            transform: translateX(-30%) rotate(-45deg);
        }
        &:hover:before {
            border-left: 2px solid transparent;
            border-bottom: 2px solid $m_red;
            border-right: 2px solid $m_red;
        }
    }
}

footer {
    border-top: 1px solid $m_grey;

    .wr {
        display: flex;
        justify-content: space-between;
        color: $m_grey;
        padding: 12px 10px;
        font-size: 14px;
        align-items: center;
        @media screen and (max-width: 750px) {
            flex-wrap: wrap-reverse;
            text-align: center;
            padding: 14px 10px;
        }
        .item {
            @media screen and (max-width: 750px) {
                flex-basis: 100%;
            }
        }
        .soc_links {
            display: flex;
            margin-left: 20px;
            @media screen and (max-width: 750px) {
                justify-content: center;
                margin-bottom: 20px;
            }
            li {
                a {
                    width: 30px;
                    height: 30px;
                    display: block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 20px;
                    @media screen and (max-width: 750px) {
                        width: 35px;
                        height: 35px;
                    }

                }
                &:nth-child(1) a {
                    background-image: url(../img/icons/ins.png);
                }
                &:nth-child(2) a {
                    background-image: url(../img/icons/you.png);
                }
                &:nth-child(3) a {
                    background-image: url(../img/icons/f.png);
                }

            }
        }
    }
}


.products_container {
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        border: 1px solid transparent;
    }
    .wr-tabs {
        max-width: 1450px;
        padding: 0;
    }
    .nav-tabs-top {
        display: flex;
        justify-content: center;
        border-color: transparent;
        @media screen and (max-width: 995px) {
            flex-wrap: wrap;
            border: 1px solid $m_grey;
        }
        @media screen and (max-width: 520px) {
            display: none;
        }
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            &.active  a {
                color: $m_red;
            }
            &:not(.active):hover a {
                background-color: $m_red;
                color: #fff;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 1vw;
                font-size: 18px;
                margin-right: 0;
                text-align: center;
                width: 100%;
                height: 100%;
                @media screen and (max-width: 1270px) {
                    font-size: 17px;
                }
                @media screen and (max-width: 1270px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 1130px) {
                    font-size: 15px;
                }
                @media screen and (max-width: 1060px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 995px) {
                    font-size: 16px;
                    padding: 5px 1vw;
                }
            }
            @media screen and (max-width: 995px) {
                flex-basis: 20%;
                border: 1px solid $m_grey;
            }
        }

    }


    .tab-content {
        .tab_banner {
            width: 100%;
            max-height: calc(100vh - 71px);
            height: 75vmin;
            min-height: 230px;
            
            background-position: left center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            @media screen and (max-width: 1140px) {
                //background-position: center;
            }
            .wr {
                position: relative;
                width: 100%;
                height: 100%;

                .info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 50%;
                    background-color: rgba(0, 0, 0, 0.31);
                    @media screen and (max-width: 840px) {
                        //right: 0;
                    }


                    .info_inner {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        text-align: left;
                        color: #fff;
                        padding-left: 10px;
                        
                        .descr {
                            font-size: 42px;
                            font-weight: 300;
                            span {
                                font-weight: bold;
                                font-weight: 400;
                            }
                            
                        }
                        .under_descr {
                            font-size: 24px;
                            @media screen and (max-width: 500px) {
                                display: none;
                            }
                            

                        }
                        .read_more {
                            pointer-events: auto;
                            font-size: 18px;
                            color: #fff;
                            border: 1px solid #fff;
                            border-radius: 3px;
                            padding: 10px 30px;
                            display: inline-block;
                            margin-top: 20px;
                            position: relative;
                            overflow: hidden;
                            transition: 0.5s;
                            span {
                                position: relative;
                                z-index: 2;
                            }
                            &:after {
                                content: "";
                                display: block;
                                background-color: transparentize($m_red, 0.5);
                                left: 10px;
                                top: 10px;
                                bottom: 10px;
                                right: 10px;
                                position: absolute;
                                z-index: 1;
                                border-radius: 50%;
                                opacity: 0;
                                transition: 0.5s;
                            }
                            &:hover:after {
                                opacity: 1;
                                border-radius: 0;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                right: 0;
                            }

                            &:hover {
                                border: 1px solid transparent;
                            }

                        }
                    }

                }
                &:after {
                    content: "";
                    display: block;
                    top: 0;
                    bottom: 0;
                    right: 100%;
                    width: 1500px;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.31);
                }
            }
        }
        .product_item_numbers {
            .numbers_container {
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 690px) {
                            flex-wrap: wrap;
                        }
                .numbers_item {
                    flex-grow: 1;
                    font-size: 18px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 5px;
                    @media screen and (max-width: 415px) {
                            flex-basis: 100%;
                        margin-top: 15px;
                        }
                    .num {
                        font-size: 72px;
                        color: $m_red;
                        @media screen and (max-width: 690px) {
                            font-size: 30px;
                        }
                        span {
                            font-size: 18px;
                            color: $m_black;
                            @media screen and (max-width: 690px) {
                                font-size: 14px;
                            }
                        }
                        
                    }
                    .info {
                            @media screen and (max-width: 690px) {
                                font-size: 14px;
                            }
                        }
                }
            }
        }
        .tab_features {
            .wr {
                margin-top: 50px;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                position: relative;
                padding: 0;
                @media screen and (max-width: 950px) {
                    
                }

                .info { 
                    padding: 30px 30px 50px 30px;
                    width: 50%;
                    background-color:  transparentize($m_grey, 0.1);
                    border: 1px solid $m_red;
                    position: relative;
                    z-index: 1;
                    transition: 0.3s;
                    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.5);
                    @media screen and (max-width: 1100px) {
                        width: 60%;
                    }
                    @media screen and (max-width: 980px) {
                        width: 70%;
                    }
                    @media screen and (max-width: 950px) {
                        width: 100%;
                    }
                    h2 {
                        margin-top: 0;
                        padding-top: 0;
                        color: $m_red;
                        margin-bottom: 15px;
                    }
                    p {
                        color: #fff;
                    }
                }
                .img {
//                    position: absolute;
                    
                    width: 50%;
//                    max-width: 600px;

                    height: 280px;
//                    height: 100%;
                    background-image: url(../img/baby.jpg);
                    background-position: center ;
                    background-repeat: no-repeat;
                    background-size: cover;
                    z-index: 0;
                    transition: 0.3s;
                    @media screen and (max-width: 1100px) {
                        width: 40%;
                        background-position: -60px center ;
                    }
                    @media screen and (max-width: 980px) {
                        width: 30%;
                    }
                    @media screen and (max-width: 950px) {
                        width: 100%;
                        position: absolute;
                        top: -15px;bottom: -15px;right: 0;left: 0;
                         background-position:  center ;
                        background-size: cover;
                        height: auto;
                    }
                    @media screen and (max-width: 570px)  {
                        background-position: -100px center ;
                    }
                    @media screen and (max-width: 400px)  {
                        background-position: -150px center ;
                    }
                }
            }
        }
        .tab_conditions {
            .wr {
                h2 {
                    color: $m_Dgrey;
                }
                p {
                    color: $m_grey;
                    padding-top: 20px;
                    padding-bottom: 0;
                    span {
                        color: $m_red;
                    }
                }
            }
        }
        .calculate {
            background-color: $m_red;
            margin-bottom: 70px;
            margin-top: 50px;
            .wr {
                display: flex;
                padding: 0;
                @media screen and (max-width: 830px)  {
                        flex-wrap: wrap;
                    }
                .item {
                    width: 50%;
                    background-color: #fff;
                    border: 1px solid $m_red;
                    background-image: url(../img/calc_1.jpg);
                    background-repeat: no-repeat;
                    background-position: 30px bottom;
                    @media screen and (max-width: 830px)  {
                        width: 100%;
                    }
                    .wrap {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-left: 200px;
                        padding: 10px;
                       h2 {
                         margin: 0;
                           padding-top: 60px;
                    }
                    .btn_insu {
                        margin-top: 40px;
                        margin-bottom: 40px;
                    }
                    
                    }
                    &:first-child {
                        border-right: 0 solid transparent;
                        @media screen and (max-width: 830px)  {
                            border-right: 1px solid $m_red;
                            border-bottom: 0 solid transparent;
                        }
                    } 
                    &:last-child {
                       background-image: url(../img/calc_2.png);
                        background-position: calc(100% - 20px) center;
                    }
                    &:last-child .wrap{
                        margin-left: 0;
                        margin-right: 200px;
                    }
                    
                }
            }
        } 
    }
}
